IP_WEBCAM_URL=http://<phone_ip>:8080/video
PORT=8000
MODEL_PATH=models/yolo11n_openvino_model/
CONFIDENCE=0.25
TARGET_DETECT_FPS=2.5
OV_NUM_THREADS=4
OV_NUM_STREAMS=2
OV_PERFORMANCE_HINT=THROUGHPUT
MAX_CANDIDATES=300
STREAM_JPEG_QUALITY=70